h1 {
  text-align: center;
  margin: 0px;
}

.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 25px;
  align-items: center;
}

.table-header-value {
  font-weight: bold;
}